.navbar-text {
    padding-top: 10px;
    font-size: x-large;
}

.logo {
    width: 100px;
}

/*.container*/
/*{*/
    /*padding-left: 284px;*/
    /*padding-right: 284px;*/
/*}*/

/*.logoMed{*/
    /*padding-top: 100px;*/
/*padding-left: 130px;*/
    /*padding-bottom: 20px;*/
/*}*/