body {
    padding-top: 70px;

}
.navbar-default{
    background-color: #f8f8f8;;
}
/*Accueil*/

.accueil {
    padding-top: 2%;
}
.btn-accueil {
    margin-top: 2%;
}
.accueil-logo {
    margin-bottom: 2vh;
}


/*Fin Accueil*/

/*Navbar*/

.search-search {
    width: 70%!important;
}
.navbar-form {
    width: 100%!important;
}

/*Fin navbar*/

/*Search*/

#text {
    width: 90%;
    margin-left: 5%;
}

.sport-select {
    margin-bottom: 1%;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

.thumbnail {
    height: 500px;
    border-radius: 0;
/*    border: thin solid lightblue;*/
    padding: 1%;
    background-color: rgba(19, 141, 117, 0.1);
}
.search-img {
    max-height: 200px;
    max-width: 200px;
}
.img-div {
    height: 200px;
}
.product-sport {
    position: absolute;
    bottom: 0;
    min-height: 100px;
    width: 93%;

}

/*Fin search*/

/*Footer*/
#footer-autre{
    background-color: #f8f8f8;
    margin-top: 20px;
    position: inherit;
    bottom: 0 !important;
    width: 100vw;

}

#footer-index{
    background-color: #f8f8f8;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100vw;
}
.logo-wild img{
    width: 60px;
}
.logo-open img{
    width: 120px;
}
.logo-wild-mini img{
    width: 50px;
}
.logo-open-mini img{
    width: 50px;
}

.style-footer{
    padding: 30px;
    font-size: 11px;

}


.marge-footer{
    padding-top: 20px;

}
/*End Foooter*/

/*mentions legales*/
h1 {
    text-align: center;
    font-family: 'Baloo Bhaina', cursive;
    font-size: 50px;
}
.mentions {
    color: black;
    font-size: 10px;
    font-style: italic;
}
.mentions-legales{
/*    padding-top: 150Px;*/
    font-family: 'Baloo Bhaina', cursive;
/*    padding-bottom: 60px;*/
}
.img-mention{
    width: 200px;
    padding: 20px;
}

/*End mentions legales*/

