.search-div {
    text-align: center;
}
.thumbnail {
    height: 500px;
}
.search-img {
    max-height: 200px;
    max-width: 200px;
}
.img-div {
    height: 200px;
}
#text {
    width: 90%;
    margin-bottom: 5%;
    margin-top: 5%;

}

.navbar-text {
    padding-top: 10px;
    font-size: x-large;
}

.logo {
    width: 100px;
}


#accueil{
    padding-top: 10vh;
}

.form{
    padding-top: 5vh;
}

#bouton{
    padding-top: 2vh;

}
.logo-wild img{
    width: 60px;
}
.logo-open img{
    width: 120px;
}
.logo-wild-mini img{
    width: 50px;
}
.logo-open-mini img{
    width: 50px;
}
.mentions{
    color: black;
/*    font-style: italic;*/
    font-size: 10px;

}

.text-acceuil{
    padding-top: 5vh;
}

h1{
    text-align: center;
    font-family: 'Baloo Bhaina', cursive;
    font-size: 50px;
}

.style-footer{
    font-size: 11px;
    padding-top: 60px;
}

.mentions-legales{
    padding-top: 150Px;
    font-family: 'Baloo Bhaina', cursive;
    padding-bottom: 120px;

}

